{% include 'home/index.html'%}
{% block content%}
<h1 class="position-absolute top-0 start-50 translate-middle-x" style="position: relative; top:90px; ">All</h6>

<div class="position-absolute top-0 start-50 translate-middle-x fixed-bottom fixed-top"  >
{% for post in posts%}
<div style="position: relative; top:90px; 
background-image: linear-gradient(rgba(169, 169, 169, 0.5), rgba(169, 169, 169, 0.5));
    background-size: 100px;
    background-position: center;
    height: 250px;
    width: 800px;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    position: relative;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
    padding:40px 40px 20px 20px;
    padding-left: 40px;
">
<h5 style="text-transform: uppercase;position: relative; top:-70px; text-align: center;">{{post.name}}</h1>
<h3 style="position: relative; top:-40px; ">{{post.price}} гр.</h4>
<!-- <h3 >{{post.content}}</h3> -->
<!-- <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href ="{{post.link}}">link</a> -->
<div style="display:flex;">
<p style="position:relative ; top:60px; right: 15px;">{{post.author}}</p>



</div>
</div>
{%endfor%}
</div>

{%endblock%}